{% extends "/base.html" %}
{% import "/_macros.html" as macros %}
{% block title %}Forum{% endblock %}

{% block content %}
<div class="container navbar-default" style="height:100%;padding-top:30px;">
    <div class="container">
        {% for each in posts %}
        <div style="padding-top:60px;padding-bottom:30px">
            <div class="media-left">
                <a href="{{ url_for('main.user', email=each.author.email) }}"><img src="{{ url_for('static', filename=('headicon/'+each.author.headicon_url)) }}" class="media-object" style="width:55px"></a>
            </div>
            <div class="media-body">
                <a href="{{ url_for('main.user', email=each.author.email) }}"><h5 class="media-heading">{{ each.author.nickname }}</h5></a>
                {% if each.body_html %}
                    {{ each.body_html | safe }}
                {% else %}
                    {{ each.body }}
                {% endif %}<!--time-->
                <p>{{ each.timestamp }}</p><!--neirong-->

            </div>
            <button id="like{{ each.id }}" onclick="like(id)" type="button" class="btn btn-default btn-sm col-xs-6">
                {% if not each.liked %}
                0
                {% else %}
                {{ each.liked }}
                {% endif %}
                like
            </button>
            <button id="comments{{ each.id }}" onclick="comments(id)" type="button" class="btn btn-default btn-sm col-xs-6">comment</button>
        </div>
        {% endfor %}
    </div>
        <div class="pagination" style="margin-left:37%">
            {{ macros.pagination_widget(pagination, 'forum.index') }}
        </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var flag = 0;
    function like(id) {
        var post_id = id.substr(4);
        if (flag == 0) {
            $.ajax({
                url: "../../api/posts/like",
                type: "POST",
                dataType: "json",
                data: {"id": post_id},
                success: function(data) {alert(JSON.stringify(data));}
            });
        } else {
            $.ajax({
                url: ('../../api/posts/unlike'),
                type: "POST",
                dataType: "json",
                data: {"id": post_id},
                success: function(data) {alert(JSON.stringify(data));}
            });
        }
        flag = 1 - flag;
    }

    function comments() {

    }
</script>
{% endblock %}