{% extends "/base.html" %}
{% import "/_macros.html" as macros %}
{% block title %}course_list{% endblock %}

{% block content %}
<div class="container navbar-default" style="height:100%;padding-top:30px;">
    <div class="container">
        {% for each in courses %}
        <div style="padding-top:60px;padding-bottom:30px">
            <div class="media-left">
                <a href="#"><img src="{{ url_for('static', filename='img/suki.jpg') }}" class="media-object" style="width:150px"></a>
            </div>
            <div class="media-body">
                <a href="{{ url_for('course.chatroom', course_id=each.course_id) }}"><h4 class="media-heading">{{ loop.index }}:{{ each.name }}({{ each.course_id }})</h4></a>
                <a href="#"><p>teacher:{{ each.teacher.user.name }}</p></a>
                <p>count:{{ each.students.count() }}</p>
                <p>intruduce:{{ each.about_course }}</p>
                <button id="{{ each.course_id }}" type="button" class="btn btn-default btn-lg">加入</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
