{% extends "/base.html" %}
{% import "/_macros.html" as macros %}
{% block title %}My Class{% endblock %}

{% block content %}
{% for each in courses %}
    <div class="col-xs-4 section" style="padding-top:60px;padding-bottom:30px">
        <div class="media-left">
            <a href="#"><img src="{{ url_for('static', filename='img/suki.jpg') }}" class="media-object" style="width:150px"></a>
        </div>
        <div class="media-body">
            <a href="#"><h4 class="media-heading">{{ loop.index }}:{{ each.name }}({{ each.course_id }})</h4></a>
            <a href="#"><p>Teacher:{{ each.teacher.user.name }}</p></a>
            <p>Class Size:{{ each.students.count() }}</p>
            <p>Abstract:{{ each.about_course }}</p>
            <!--<a id="drop" href="#"><button type="button" class="btn btn-default" style="position:absolute;right:15px;bottom:30px">Drop</button></a>
            -->
            <input class="btn btn-default" id="submit" name="submit" type="submit" value="取消选课">
        </div>
    </div>
{% endfor %}
<div class="pagination" style="position:absolute;left:50%;bottom:0">
{{ macros.pagination_widget(pagination, 'course.index') }}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $.ajax(

    )
</script>
{% endblock %}

