{% extends "/base.html" %}
{% import "/_macros.html" as macros %}
{% block title %}My Class{% endblock %}

{% block content %}

<div class="container navbar-default" style="height:100%;padding-top:30px;">
    {% for each in courses %}
    <div class="col-xs-4" style="padding-top:60px;padding-bottom:30px">
        <div class="media-left">
            <a href="#"><img src="{{ url_for('static', filename='img/suki.jpg') }}" class="media-object" style="width:150px"></a>
        </div>
        <div class="media-body">
            <a href="{{ url_for('course.chatroom', course_id=each.course_id) }}"><h4 class="media-heading">{{ loop.index }}:{{ each.name }}({{ each.course_id }})</h4></a>
            <a href="#"><p>授课老师:{{ each.teacher.user.name }}</p></a>
            <p>班级人数:{{ each.students.count() }}</p>
            <p>课程介绍:{{ each.about_course }}</p>
            {% if 1 %}
            <button id="{{ each.course_id }}" type="button" onclick="f(id)" class="btn btn-default" style="position:absolute;right:15px;bottom:30px">Drop</button>
            {% else %}
            <button id="{{ each.course_id }}" type="button" onclick="f(id)" class="btn btn-default" style="position:absolute;right:15px;bottom:30px">解散</button>
            {% endif %}

        </div>
    </div>
    {% endfor %}
    <div class="pagination" style="width:100%;padding-left:45%">
        {{ macros.pagination_widget(pagination, 'course.index') }}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    function f(id) {
        $.ajax({
            url:"../api/drop-course",
            type:"POST",
            dataType:"json",
            data:{"course_id":id},
            success:function(data){alert("success" + JSON.stringify(data));}
        });
    }
</script>
{% endblock %}