{% extends "/base.html" %}
{% block title %} Test List {% endblock %}

{% block content %}
    <div class="container navbar-default" style="height:100%;padding-top:30px;">
        <div class="container">
            <div style="padding-top:30px;padding-bottom:30px;width:100%">
                <p style="float:left;padding-top:10px">&nbsp;&nbsp;&nbsp;&nbsp;考试名称&nbsp;&nbsp;&nbsp;&nbsp;  </p>
                <p style="float:right;padding-right:14%;padding-top:10px">持续时间 </p>
                <p style="float:right;padding-right:18%;padding-top:10px">结束时间</p>
                <p style="float:right;padding-right:20%;padding-top:10px">开始时间</p>
            </div>
            {% for each in all_tests %}
            <!-- tests -->
            <div style="padding-top:40px;padding-bottom:40px;width:100%;text-align: center">
                <p style="float:left;padding-top:10px">&nbsp;&nbsp;&nbsp;&nbsp;{{ each.name }}&nbsp;&nbsp;&nbsp;&nbsp;  </p>
                <button class="btn btn-warning" style="float:right;margin-right:5px" onclick="started('{{each.start}}','{{each.end}}', {{ each.course_id }}, '{{ each.name }}')">进入考试</button>
                <p style="float:right;padding-top:10px;padding-right: 6%;">{{ each.duration }}分钟</p>
                <p style="float:right;padding-top:10px;padding-right: 19%;">{{ each.end }}</p>
                <p style="float:right;padding-top:10px;padding-right: 14%;">{{ each.start }}</p>
            </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function getNowFormatDate() {//获取当前时间
	var date = new Date();
	var seperator1 = "-";
	var seperator2 = ":";
	var month = date.getMonth() + 1<10? "0"+(date.getMonth() + 1):date.getMonth() + 1;
	var strDate = date.getDate()<10? "0" + date.getDate():date.getDate();
	var currentdate = date.getFullYear() + seperator1  + month  + seperator1  + strDate
			+ " "  + date.getHours()  + seperator2  + date.getMinutes()
			+ seperator2 + date.getSeconds();
	return currentdate;
    }
    function compare(a, b, c, d){
        if(a[0] > b[0]){
            return true;
        }
        else if(a[0] == b[0]){
            if(a[1] > b[1]){
                return true;
            }
            else if(a[1] == b[1]){
                if(a[2] > a[2]){
                    return true;
                }
                else if(a[2] == b[2]){
                    if(c[0] > d[0]){
                        return true;
                    }
                    else if(c[0] == d[0]){
                        if(c[1] > d[1]){
                            return true;
                        }
                        else if(c[1] == d[1]){
                            if(c[2] >= d[2]){
                                return true;
                            }
                            else{
                                return false;
                            }
                        }
                        else{
                            return false;
                        }
                    }
                    else{
                        return false;
                    }
                }
                else{
                    return false;
                }
            }
            else{
                return false;
            }
        }
        else{
            false;
        }

    }
    function started(start, end, course_id, name) {
        var now = getNowFormatDate();
        var starttime = start.substring(0, 10).split('-');
        var endtime = end.substring(0, 10).split('-');
        var nowtime = now.substring(0, 10).split('-');
        var st = start.substring(11,19).split(':');
        var ed = end.substring(11,19).split(':');
        var nw = now.substring(11,19).split(':');
        if(compare(nowtime, starttime, nw, st) && compare(endtime, nowtime, ed, nw)){
            window.location.href='../join-test/' + course_id + '?test_name=' + name;
        }
        else{
            alert("不可以考试");
        }
    }
</script>
{% endblock %}