{% extends "bootstrap/base.html" %}

{% block title %}SCUT-ClassHeper{% endblock %}

{% block head %}
{{ super() }}
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}


{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Head portrait -->
            <div class="navbar-brand" style="padding:1%">
                <a href="{{ url_for('main.user', email=current_user.email) }}">
                    <img src="{{ url_for('static', filename='headicon/'+current_user.headicon_url) }}" class="img-circle" style="height:100%;" />
                </a>
            </div>

        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('course.index') }}"><span class="glyphicon glyphicon-home"></span>&nbsp;{% if current_user.role.name == 'Student' %}我的课程{% else %}我开的课{% endif %}</a></li>
                <li><a href="{{ url_for('forum.index') }}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;广场</a></li>
                {% if current_user.role.name == 'Teacher' %}
                <li><a href="{{ url_for('course.join_course') }}"><span class="glyphicon glyphicon-search"></span>&nbsp;查询课程</a></li>
                <li><a href="{{ url_for('course.create_course') }}"><span class="glyphicon glyphicon-plus"></span>&nbsp;创建课程</a></li>
                {% elif current_user.role.name == 'Student' %}
                <li><a href="{{ url_for('course.join_course') }}"><span class="glyphicon glyphicon-plus"></span>&nbsp;加入课程</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right ">
                <li>
                    <a href="{{ url_for('main.user', email=current_user.email) }}">
                        <span class="glyphicon glyphicon-user"></span>
                        个人资料
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-cog"></span>&nbsp;设置
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">修改密码</a></li>
                        <li><a href="#">修改邮箱</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('auth.logout') }}">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}