{% extends "base.html" %}
{% import "/_macros.html" as macros %}
{% block title %} User {% endblock %}

{% block page_content %}
<div class="container" style="height:100%;padding-top:50px; margin-top:110px; background-color:white">
    <div style="margin-left:0%;background-color:#f7ecb5;height:100%;width:200px;float:left;">
        <img src="{{ url_for('static', filename='headicon/'+user.headicon_url) }}" style="width:200px">
        <p align="center" style="height:10px;">
            {% if user.role.name == 'Teacher' %}
            teacher
            {% else %}
            student
            {% endif %}
        </p>
    </div>
    <div style="margin-left:15%;padding-left:5%;padding-right:5%;padding-top:2%;background-color:#dddddd;height:400px;width:50%;float:left;display:table-cell;margin-top:0px;">
        <p>nickname:{{ user.nickname }}</p>
        <P style="margin-top:30px;">Location:{{ user.location }}</P>
        <P style="margin-top:30px;">
            about_me:{{ user.about_me }}
        </P>
        <p style="margin-top:150px;">email:{{ user.email }}</p>
        <!-- 只有自己才能修改 -->
    </div>
    {% if user.id == current_user.id %}
    <a href="{{ url_for('main.edit_profile') }}" class="btn btn-default" style="margin-left: 870px;margin-top:10px;padding-left:20px;padding-right:20px;">修改</a>
    {% endif %}
</div>
{% endblock %}
